<h2>All Flights</h2>
<a routerLink='/add/flight'><button>Add A New Flight</button></a>
<ul class="flights">
  <table *ngFor="let flight of flights">
    <thead>
      <th>Flight ID</th>
      <th>Flight Number</th>
      <th>Departure Airport</th>
      <th>Departure Date/Time</th>
      <th>Arrival Airport</th>
      <th>Arrival Date/Time</th>
      <th>Max Capacity</th>
      <th>Seats Reserved</th>
      <th></th>
    </thead>
    <tbody>
      <tr>
        <td>
          <a routerLink="/flights/{{flight.id}}"><button>{{flight.id}}</button></a>
  </td>
  <td>{{flight.flightNumber}}</td>
  <td>{{flight.departureAirport}}</td>
  <td>{{flight.departureDateTime}}</td>
  <td>{{flight.arrivalAirport}}</td>
  <td>{{flight.arrivalDateTime}}</td>
  <td>{{flight.maxCapacity}}</td>
  <td>{{flight.seatsReserved}}</td>
  <td>
    <a routerLink="/edit/flight/{{flight.id}}"><button>Edit</button></a>
    <button (click)="deleteFlight(flight.id)">Delete</button>
  </td>
  </tr>
  </tbody>
  </table>

  