<h1>All Flights</h1>
<a routerLink='/add/flight'><button id="add">+ Add A New Flight</button></a>
  <table >
    <thead>
      <th>Flight ID</th>
      <th>Flight Number</th>
      <th>Departure Airport</th>
      <th>Departure Date/Time</th>
      <th>Arrival Airport</th>
      <th>Arrival Date/Time</th>
      <th>Max Capacity</th>
      <th>Seats Reserved</th>
      <th></th>
    </thead>
    <tbody *ngFor="let flight of flights">
      <tr>
        <td class="centerColumns">
          <a routerLink="/flights/{{flight.id}}"><button class="idButton">{{flight.id}}</button></a>
  </td>
  <td>{{flight.flightNumber}}</td>
  <td>{{flight.departureAirport}}</td>
  <td>{{flight.departureDateTime | date:'short'}}</td>
  <td>{{flight.arrivalAirport}}</td>
  <td>{{flight.arrivalDateTime | date:'short'}}</td>
  <td>{{flight.maxCapacity}}</td>
  <td>{{flight.seatsReserved}}</td>
  <td class="centerColumns">
    <a routerLink="/edit/flight/{{flight.id}}"><button class="options" id="edit">Edit</button></a>
    <button (click)="deleteFlight(flight.id)" class="options" id="delete">Delete</button>
  </td>
  </tr>
  </tbody>
  </table>

  