<h1>All Passengers</h1>
<a routerLink='/add/passenger'><button id="add">+ Add A New Passenger</button></a>
  <table >
    <thead>
      <th>Passenger ID</th>
      <th>First and Middle Name</th>
      <th>Last Name</th>
      <th>Date of Birth</th>
      <th>Profession</th>
      <th>Email</th>
      <th></th>
    </thead>
    <tbody *ngFor="let passenger of passengers">
      <tr>
        <td class="centerColumns">
          <a routerLink="/passengers/{{passenger.id}}"><button class="idButton">{{passenger.id}}</button></a>
  </td>
  <td>{{passenger.firstMidName}}</td>
  <td>{{passenger.lastName}}</td>
  <td>{{passenger.dob | date:'shortDate'}}</td>
  <td>{{passenger.job}}</td>
  <td>{{passenger.email}}</td>
  <td class="centerColumns">
    <a routerLink="/edit/passenger/{{passenger.id}}"><button id="edit">Edit</button></a>
    <button (click)="deletePassenger(passenger.id)" id="delete">Delete</button>
  </td>
  </tr>
  </tbody>
  </table>

  