<h1>Create A New Reservation</h1>
<h2>Select A Flight and Passenger from the lists below.</h2>
<h3>Available Flights</h3>
<ul class="flights">
  <table *ngFor="let flight of flights">
    <thead>
      <th>Flight ID</th>
      <th>Flight Number</th>
      <th>Departure Airport</th>
      <th>Departure Date/Time</th>
      <th>Arrival Airport</th>
      <th>Arrival Date/Time</th>
      <th>Max Capacity</th>
      <th>Seats Reserved</th>
    </thead>
    <tbody>
      <tr>
        <td>
          <button [class.selected]="flight === selectedFlight"(click)="selectFlight(flight)">{{flight.id}}</button>
  </td>
  <td>{{flight.flightNumber}}</td>
  <td>{{flight.departureAirport}}</td>
  <td>{{flight.departureDateTime}}</td>
  <td>{{flight.arrivalAirport}}</td>
  <td>{{flight.arrivalDateTime}}</td>
  <td>{{flight.maxCapacity}}</td>
  <td>{{flight.seatsReserved}}</td>
  </tr>
  </tbody>
  </table>
<h3>Passengers</h3>
  <ul class="passengers">
    <table *ngFor="let passenger of passengers">
      <thead>
        <th>Passenger ID</th>
        <th>First and Middle Name</th>
        <th>Last Name</th>
        <th>Date of Birth</th>
        <th>Profession</th>
        <th>Email</th>
        <th></th>
      </thead>
      <tbody>
        <tr>
          <td>
            <button [class.selected]="passenger === selectedPassenger"(click)="selectPassenger(passenger)">{{passenger.id}}</button>
    </td>
    <td>{{passenger.firstMidName}}</td>
    <td>{{passenger.lastName}}</td>
    <td>{{passenger.dob| date:'shortDate'}}</td>
    <td>{{passenger.job}}</td>
    <td>{{passenger.email}}</td>
    <td>

    </td>
    </tr>
    </tbody>
    </table>
    <button (click)="createReservation()">Submit</button>
