<h1>All Reservations</h1>
<a routerLink='/add/reservation'><button id="add">+ Add A New Reservation</button></a>
  <table >
    <thead>
      <th>Reservation ID</th>
      <th>Passenger Name</th>
      <th>Flight Number</th>
      <th>Departure Airport</th>
      <th>Departure Date/Time</th>
      <th>Arrival Airport</th>
      <th>Arrival Date/Time</th>
    </thead>
    <tbody *ngFor="let reservation of reservations">
      <tr class="centerColumns">
        <td><button id="idButton" routerLink="/reservations/{{reservation.id}}">{{reservation.id}}</button></td>
        <td>{{reservation.firstMidName}} {{reservation.lastName}}</td>
        <td>{{reservation.flightNumber}}</td>
        <td>{{reservation.departureAirport}}</td>
        <td>{{reservation.departureDateTime| date:'short'}}</td>
        <td>{{reservation.arrivalAirport}}</td>
        <td>{{reservation.arrivalDateTime| date:'short'}}</td>
      </tr>
    </tbody>
  </table>

  