table, th, td {
    border: 1px solid;
    
  }

  table {
    width: 90%;
    margin-left: 5%;
    
  }
  th{
    background-color: indigo;
    color: aliceblue;
  }

  td{
    background-color: aliceblue;
    color: indigo;
  }

 
  #add{
    margin-left: 5%;
    margin-bottom: 5px;
    width: 250px;
    background-color:rgb(124, 223, 92);
    font-size: large;
  }
  h1{
    margin-left: 5%;
    color: indigo;
  }
  #idButton{
    color: aliceblue;
    background-color: indigo;
    border: 1px solid;
  }
  .centerColumns{
    text-align: center;
  }
  #actions{
    display: flex;
  }
  #search{
    width: 60px;
    background-color: indigo;
    color: aliceblue;
  }
  #reset{
    width: 60px;
    background-color: white;
    color: indigo;
  }
  #cancel{
    background-color: rgba(255, 17, 17, 0.829);
    color: white;
    width: 120px;
  }

  input{
    width: 94%;
  }