<div *ngIf="flight">
    <h2>{{flight.id}}</h2>
    <h2>{{flight.flightNumber}} Details</h2>
    <div>Departure Airport: {{flight.departureAirport}}</div>
    <div>Departure Date/Time: {{flight.departureDateTime}}</div>
    <div>Arrival Airport: {{flight.arrivalAirport}}</div>
    <div>Arrival Date/Time: {{flight.arrivalDateTime}}</div>
    <div>Max Capacity: {{flight.maxCapacity}}</div>
    <div>Seats Booked: {{flight.seatsReserved}}</div>

    <a routerLink="/edit/flight/{{flight.id}}"><button>Edit Flight Info</button></a>
    <button (click)="deleteFlight()">Delete Flight</button>
  </div>

  