nav{
    display: flex;
    background-color:indigo;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
    justify-content: space-between;
}
nav .links{
    display: flex;
    align-content: end;
   padding-left: 20px;
}
nav a{
    padding: 20px;
    padding-left: 35px;
    font-size: large;
    color: aliceblue;
}
nav h1{
    color: aliceblue;
    padding-left: 10px;
    
}
nav img{
    height: 40px;
    width: 40px;
    padding-left: 10px;
    align-self: center;
}
nav p{
    align-self: center;
    justify-self:flex-end;
    color:aliceblue;
    font-size: large;
    margin-right: 10px;
}
#alignLeft{
    display: flex;
}